.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    background-color: white;
    width: 700px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #0008;
}

.card-btn {
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    cursor: pointer;
}

.card-icon {
    font-size: 40px;
    float: left;
    padding-right: 15px;
}

.card-quote {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-author {
    text-align: end;
    margin-bottom: 20px;
}

.card-btn:hover {
    box-shadow: 0 0 10px #0005;
    transform: scale(1.05);
    transition: 0.5s;
}